@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Prevent theme flicker */
html {
  color-scheme: light dark;
}
